 @font-face {
 	font-family: "_Big_Bottom";
    src: url("fonts/Big_Bottom_Typeface_Normal.ttf");
}
@font-face {
	font-family: "_A bit sketchy";
	src: url("fonts/sketchy.ttf");
}
 
 body{
    font-family: Arial, Verdana, sans-serif;
    margin:0;
    padding:0;
    font-size: 0.9em;
    background: #FDFDFD;
 }
  
 
 input,label, textarea {
 	display: block;
 	margin: 5px;
 }
 
 h1 {
 	font-family: "_A bit sketchy";
 	font-size: 54pt;
 	margin: 0 auto;
 	padding: 0;
 	width: 960px;
 	color: gold;
 	text-shadow: -1px 1px 0 #444;
 	font-weight: normal;
 }
 
 h2 {
 	font-size: 18pt;
 	color: #222;
 	font-family: "_Big_Bottom";
 }
 
 header {
 	margin: 0;
 	padding: 0;
 	border: solid #DDDDDD 1px;
 	background: #EEEEEE;
 }
 
table.game-board {
	background: radial-gradient(yellow, gold);
	margin-top: 50px;
}

.game-board td {
	border: solid gold 1px;
	width: 100px;
	height: 100px;
}

.game-board th {
	background: linear-gradient(#EE9011, #BB5500);
	height: 10px;
	position: relative;
}

.game-board th div {
	height: 50px;
	width: 100px;
	border-radius: 50px 50px 0 0;
	position: absolute;
	margin-top: -45px;
}

.game-board th div:hover {
	cursor: pointer;
}

.game-board th div.no-click {
	display: none;	
}

.game-board td div {
	border-radius: 50px;
	height: 100px;
	width: 100px;
}

.empty-square {
	background-color: #FDFDFD;
	box-shadow: 1px 1px 2px #444 inset;
}

.chip-red {
	background: radial-gradient(red, #DD1111);
	box-shadow: 1px 1px 2px #644 inset;
}

.chip-black {
	background: radial-gradient(#444444, #333333);
}
 
 .container {
 	width: 960px;
 	margin: 0 auto;
 	padding: 1em 0;
 }
 
 .chat-box {
 	float: right;
 	width: 120px;
 }

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: linear-gradient(#EEEEEE, #DDDDDD);
	padding: 1em;
	border-top: solid #BBBBBB 1px;
}

